<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <title>Todo List</title>
</head>
<body style="background-color: #f6f6f6;">
    <div class="container">
        <header class="text-center">
            <h2 >Todo List App</h2>
            <br>
        </header>
    
